In [3]:
import os, sys, glob, scipy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Plan

1. Describe the task
2. Make the simplest visualization you can think of that contains:
    - the Dependent Variable, i.e. the behavior of the participants that you're trying to model/predict/explain/account for/etc
    - the Independent Variable(s), i.e. the features of the trial that you think might influence behavior
    - draw each trial as a point on this graph
3. Think of possible models that would generate similar values for the DV given the observed values for the IV

## 2. Make a visualization

##### Load some data

In [6]:
base_dir = os.path.realpath('') 
data_dir = base_dir + '/Data'

In [7]:
data = pd.read_csv(data_dir + '/Study1_UG.csv')
data = data[['sub','trial','unfairness','choice']]
data['offer'] = 100 - data['unfairness']
data.head()

   sub  trial  unfairness  choice  offer
0    1      1          50       0     50
1    1      2          80       0     20
2    1      3          95       0      5
3    1      4          60       0     40
4    1      5          75       0     25

##### Make a simple plot

In [4]:
sub = 2
sub_data = data.query('sub == 2')
sub_data.head()

    sub  trial  unfairness  choice  offer
20    2      1          60       0     40
21    2      2          55       0     45
22    2      3          85       1     15
23    2      4          95       1      5
24    2      5          65       0     35

##### Problem 1. Plot each trial independently, use transparency to visualize overlap

##### Problem 2. Plot the average over trials with the same offer

## 3. Think of a model that can recreate this plot

###### Problem 3. Define the following models
- Model 1: always accept.
- Model 2: always reject.
- Model 3: act randomly.
- Model 4: maximize payoff ('greed').
- Model 5: minimize payoff ('inverse greed').
- Model 6: unfairness punisher (reject with a probability P proportional to the unfairness of the offer).
- Model 7: inequity aversion.

In [19]:
# Always accept
def model_1(offer):
    
    
    
    return choice

In [20]:
# Always reject
def model_2(offer):
    
    
    
    return choice

In [21]:
# Act random
def model_3(offer):
    
    
    
    return choice

In [22]:
# Maximize payoff
def model_4(offer):
    
    
    
    
    return choice

In [23]:
# Minimize payoff
def model_5(offer):
    
    
    
    
    return choice

In [ ]:
# Unfairness punisher
def model_6(offer):
    
    
    
    
    return choice

In [ ]:
# Inequity aversion
def model_7(offer):
    
    
    
    
    return choice

## 4. Simulating task data

In [25]:
simulated_sub_data = sub_data[['trial','offer','choice']].copy()
simulated_sub_data['choice'] = np.nan
simulated_sub_data.head()

    trial  offer  choice
20      1     40     NaN
21      2     45     NaN
22      3     15     NaN
23      4      5     NaN
24      5     35     NaN

##### Problem 4. Simulate task data using a model
Use one of the models you have defined above to simulate choices for the simulated_sub_data dataframe.

So here we have a dataset – basically a list of trials that together constitute an experiment – with simulated task data! We've basically generated a pseudo-subject based on one of the models we defined. In the next steps, we will compare such simulated datasets to our actually observed subject data. The more similar a model's simulation is to observed task data, the better the model 'fits' the data.

## For next time

- Get Joey's data from GitHub
- Try to code models 5, 6, and 7
- Simulate data from each model